:root {
  /* Primary */
  --light-red: 0 100% 67%;
  --orangey-yellow: 39 100% 56%;
  --green-teal: 166 100% 37%;
  --cobalt-blue: 234 85% 45%;

  /* Gradients */

  --light-slate-blue: 252 100% 67%;
  --light-royal-blue: 241 81% 54%;

  --violet-blue: 256 72% 46%;
  --persian-blue: 241 72% 46%;

  /* Neutral */

  -white: 0 0% 100%;
  --pale-blue: 221 100% 96%;
  --light-lavender: 241 100% 89%;
  --dark-gray-blue: 224 30% 27%;

  /* System */
  --background: var(--white);
  --foreground: var(--dark-gray-blue);

  /* accent colors */
  --accent-color: var(--blue-300);
  --link-color: var(--blue-300);
  /* @media (prefers-color-scheme: dark) {
    --background: var(--blue-950);
    --foreground: var(--grey-50);
  } */

  /* Fonts */
  --ff-hanken: "Hanken Grotesk", sans-serif;
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--ff-hanken);
  --font-mono: var(--ff-hanken);
}

/* Styles for users who prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none; /* Disable animations */
    transition: none; /* Disable transitions */
    transform: none; /* Reset any transform properties */
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--ff-sans);
  line-height: 1.6;
  @apply min-h-screen;
}

button {
  @apply cursor-pointer;
}

dialog {
  &::backdrop {
    background-color: hsl(var(--background) / 0.8);
    @apply backdrop-blur-sm;
  }
}
